/* Write your CSS code here */

.currencies-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background-color: #092e33;
  color: #ffffff;
  padding: 7px;
}
.conversion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.cryptocurrency-tracker-heading {
  color: #00e7ff;
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  padding: 5px;
}
.cryptocurrency-bg-image {
  height: 20vh;
  width: 90vw;
}
.currencies-container {
  height: 50vh;
  width: 90vw;
  border-style: solid;
  border-width: 3px;
  border-color: #00e7ff;
  border-radius: 5px;
}
.header-heading {
  font-size: 10px;
  padding: 4px;
  width: 36%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .currencies-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #092e33;
    color: #ffffff;
    padding: 7px;
  }
  .conversion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
  }
  .cryptocurrency-tracker-heading {
    color: #00e7ff;
    font-size: 35px;
    font-family: 'Roboto';
    text-align: center;
    padding: 10px;
  }
  .cryptocurrency-bg-image {
    height: 30vh;
    width: 90vw;
  }
  .currencies-container {
    height: 50vh;
    width: 90vw;
    border-style: solid;
    border-width: 3px;
    border-color: #00e7ff;
    border-radius: 5px;
  }
  .header-heading {
    font-size: 20px;
    padding: 7px;
    width: 36%;
    text-align: center;
  }
}
